{% if site.google_analytics %}
	<!-- Google Analytics -->
	<script>
		// Google Analytics tracking code with standard obfuscated variable names
		(function(windowObj,documentObj,scriptTag,analyticsUrl,gaObject,scriptElement,firstScript){windowObj['GoogleAnalyticsObject']=gaObject;windowObj[gaObject]=windowObj[gaObject]||function(){
		(windowObj[gaObject].q=windowObj[gaObject].q||[]).push(arguments)},windowObj[gaObject].l=1*new Date();scriptElement=documentObj.createElement(scriptTag),
		firstScript=documentObj.getElementsByTagName(scriptTag)[0];scriptElement.async=1;scriptElement.src=analyticsUrl;firstScript.parentNode.insertBefore(scriptElement,firstScript)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', '{{ site.google_analytics }}', 'auto');
		ga('send', 'pageview', {
		  'page': '{{ site.baseurl }}{{ page.url }}',
		  'title': '{{ page.title | replace: "'", "\\'" }}'
		});
	</script>
	<!-- End Google Analytics -->
{% endif %}
